.settings-window-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(var(--main-body), 1);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
}

.settings-window {
  background: var(--settings-body);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  height: 800px;
  text-align: center;
  color: var(--text-heading);
  border-radius: 25px;
  border: 2px solid var(--component-border);
}

.settings-window-header {
    width: 100%;
    height: 70px;
    background-color: var(--main-body);
    border-bottom: 2px solid var(--component-border);
    border-radius: 25px 25px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-window-header p {
  color: var(--text-heading);
  font-size: 22px;
}

.settings-window-main {
  width: 100%;
  height: 100%;
  display: flex;
}

.settings-window-mainsettings {
  width: 500px;
  height: 728px;
  border-radius: 0px 0px 0px 25px;
  border-right: 2px solid var(--component-border);
  position: relative;
}

.settings-window-mainparams {
  width: 100%;
  height: 728px;
  border-radius: 0px 0px 25px 0px;
}

.settings-window-mainsettings-avatar-container {
  width: 100%;
  height: 100px;
}

.settings-window-mainsettings-avatar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: var(--text-heading);
  font-size: 18px;
}

.settings-window-mainsettings-avatar img {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--component-border);
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  right: 45%;
  background: 
    radial-gradient(farthest-side,#00000000 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 25%,var(--button-color));
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}

.settings-window-mainsettings-points {
  -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 10px;
}
