.settings-window-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(var(--main-body), 1);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
}

.settings-window {
  background: var(--settings-body);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  height: 800px;
  text-align: center;
  color: var(--text-heading);
  border-radius: 25px;
  border: 2px solid var(--component-border);
}

.settings-window-header {
    width: 100%;
    height: 100px;
    background-color: var(--main-body);
    border-bottom: 2px solid var(--component-border);
    border-radius: 25px 25px 0px 0px;
}
