::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    width: 1px;
    height: 1px;
    border-radius: 50px;
    border: 1px solid var(--scrollbar-border);
    filter: blur(1px); 
}