.mainPage-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-body);
}

.chatsList-container {
  width: 20%;
  height: 100%;
  background-color: var(--secondary-body);
  border-right: 2px solid var(--scrollbar-border);
}

.logo-menu {
  width: 100%;
  height: 100px;
  color: var(--text-heading);
  font-size: 2em;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
}

.logo-menu-burger {
  width: 50px;
  height: 50px;
  margin-top: 0.8vh;
  background-color: var(--settings-body);
  border-radius: 12px;
}

.searchField-container {
    width: 100%;
    height: 50px;
}
