.add-newchat-window-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(var(--main-body), 1);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
}

.add-newchat-window {
  background: var(--main-body);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 500px;
  height: 550px;
  position: relative;
  text-align: center;
  color: var(--text-heading);
  border-radius: 25px;
}

.newchat-main-content {
  height: 70%;
}

.add-newchat-window h3 {
  margin-bottom: 25px;
  font-size: 20px;
}

.newchat-chooseUsers-title {
  font-size: 20px;
  color: var(--text-heading);
  margin-bottom: 10px;
}

.newchat-input-name {
  background-color: var(--settings-body);
  width: 100%;
  height: 30px;
  padding-left: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.newchat-buttons {
  display: grid;
  gap: 10px;
  height: 30%;
}

.newchat-buttons button {
  background-color: var(--button-color);
  border-radius: 25px;
}

.newchat-main-content input {
  height: 45px;
}

.newchat-allusers {
  width: 100%;
  height: 45px;
  margin-top: 10px;
  background-color: var(--settings-body);
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.newchat-allusers-info div {
  color: var(--text-heading);
}

.newchat-allusers-info {
  border-top: 2px solid var(--secondary-body);
  color: var(--text-heading);
  position: fixed;
  min-height: 0px;
  height: auto;
  text-align: left;
  padding-left: 10px;
  overflow-y: auto;
  width: 360px;
  background-color: var(--dropdown-list);
}

.add-newchat-window-header {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid var(--component-border);
  border-radius: 25px 25px 0px 0px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0px 20px 0px 20px;
  color: var(--text-heading);
  font-size: 18px;
}

.add-newchat-window-header p {
  width: 80%;
  text-align: center;
}

.add-newchat-window-header svg path {
  cursor: pointer;
  fill: var(--text-heading);
}

.add-newchat-window-main {
  padding: 20px;
  width: 100%;
  height: 82.5%;
  border-radius: 0px 0px 25px 25px;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: var(--text-hint);
  font-size: 20px;
}

.add-newchat-window-main p {
  margin-top: 10px;
}

.add-newchat-window-privacy-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.add-newchat-window-privacy-text {
  width: 100%;
  height: 50%;
  text-align: left;
  gap: 0;
}

.add-newchat-window-privacy-text-head {
  color: var(--text-heading);
  font-size: 18px;
}

.add-newchat-window-privacy-text-hint {
  color: var(--text-hint);
  font-size: 14px;
}

@media (max-width: 499px) {
  .add-newchat-window {
    width: 300px;
    height: 450px;
  }
}

@media (min-width: 500px) and (max-width: 1000px) and (max-height: 873px) {
  .add-newchat-window {
    width: 430px;
    height: 500px;
  }
}
